In [51]:
import pandas as pd

PATH = "/Users/Max/OneDrive/ULTRA NICE/ML Competition/QRT Challenge 2020/data"
df = pd.read_parquet(PATH + "/joined/v1/train_joined.parquet")

In [53]:
nan_percentage = df.isna().mean() * 100
sorted_nan_percentage = nan_percentage.sort_values(ascending=False)
print(sorted_nan_percentage)

stock_comparison_features:RET_1_sub_industry_std      0.286157
stock_comparison_features:RET_1_industry_std          0.033475
stock_comparison_features:RET_1_industry_group_std    0.005939
stock_comparison_features:RET_1_sector_std            0.001890
stock_comparison_features:RET_5_sector_zscore         0.001890
                                                        ...
basic_statistical_features:VOLUME_min_20              0.000000
basic_statistical_features:VOLUME_q25_20              0.000000
basic_statistical_features:VOLUME_q75_20              0.000000
basic_statistical_features:VOLUME_skew_20             0.000000
basic_statistical_features:VOLUME_kurt_20             0.000000
Length: 157, dtype: float64

In [50]:
df = df[:7000]
df.to_parquet(PATH + "/transformed/v1_short/nan_handling_test.parquet")

In [ ]:
import pandas as pd

PATH = "/Users/Max/OneDrive/ULTRA NICE/ML Competition/QRT Challenge 2020/data"
df = pd.read_csv(PATH + "/models/v1/logistic_model/logistic_model_1.0000_20250317_192417.csv")
df

            ID    RET
0       418595   True
1       418596  False
2       418597   True
3       418598  False
4       418599  False
...        ...    ...
198424  617019  False
198425  617020   True
198426  617021  False
198427  617022   True
198428  617023  False

[198429 rows x 2 columns]